@model AccentureAcademy.TpFinal.Models.Niveles

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Nivel</title>
</head>
<body>
    <h1>Agregar un nivel</h1>
    <form method="post">
        Editorial:
        <input type="text" name="Nivel" value="" />

        <button>Agregar</button>
    </form>
</body>
</html>
