@model AccentureAcademy.TpFinal.Models.Generos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Generos</title>
</head>
<body>
    <h1>Agregar un Género</h1>
    <form method="post">
        Género: 
        <input type="text" name="Genero" value="" />

        <button>Agregar</button>
    </form>
</body>
</html>
