@using AccentureAcademy.TpFinal.Models
@model List<Generos>

@{
    ViewBag.Title = "Generos";
}

<h2>Mostrar</h2>

@if (this.Model.Count > 0)
{
    <ul>
        @foreach (Generos genero in this.Model)
        {
            <li>@genero.Genero</li>
        }
    </ul>
}
else
{
    <p>No se encuentran generos para mostrar</p>
}