@model AccentureAcademy.TpFinal.Models.Editoriales

@{

    ViewBag.Title = this.ViewBag.Titulo;
}

<article class="mostrar-editar card container">
    <h2 class="card-header d-flex justify-content-center">@ViewBag.Titulo</h2>

    <div class="card-body">

        @using (Html.BeginForm())
        {
            <div class="form-group row">
                @Html.LabelFor(editorial => editorial.Editorial, new { @class = "col-md-4 col-form-label text-md-right" })
                <div class="col-md-6">
                    @Html.EditorFor(editorial => editorial.Editorial, new { htmlAttributes = new { @class = "form-control", placeholder = "Ingrese una nueva editorial..." } })
                    <div style="color:red;">@Html.ValidationMessageFor(editorial => editorial.Editorial)</div>
                </div>

            </div>

            <div class="form-group row mb-0 mt-5">
                <div class="col-md-8 offset-md-4 text-left">
                    <button>Enviar</button>
                </div>
            </div>
        }
    </div>
</article>