@using AccentureAcademy.TpFinal.Models
@model List<Editoriales>

@{
    ViewBag.Title = "Editoriales";
}

<h2>Mostrar</h2>

@if (this.Model.Count > 0)
{
    <ul>
        @foreach (Editoriales editorial in this.Model)
        {
            <li>@editorial.Editorial</li>
        }
    </ul>
}
else
{
    <p>No se encuentran editoriales para mostrar</p>
}