@using AccentureAcademy.TpFinal.Models
@model List<Libros>

@{
    ViewBag.Title = "Mostrar";
}

<h2>Mostrar</h2>

@if (this.Model.Count > 0)
{
    <ul>
        @foreach (Libros libro in this.Model)
        {
            <li>@libro.Titulo</li>
        }
    </ul>
}
else
{
    <p>No se encuentran libros para mostrar</p>
}