@model AccentureAcademy.TpFinal.Models.Libros

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agregar Autor</title>
</head>
<body>
    <h1>Agregar un Autor</h1>
    <form method="post">
        Nombre:
        <input type="text" name="Nombre" value="" />
        <br />

        Apellido:
        <input type="text" name="Apellido" value="" />
        <br />

        Fecha de Nacimiento:
        <input type="datetime" name="FechaNacimiento" value="" />
        <br />

        Fecha de Fallecimiento:
        <input type="datetime" name="FechaFallecimiento" value="" />
        <br />

        Biografía:
        <input type="text" name="Biografía" value="" />

        Imagen:
        <input type="text" name="Imagen" value="Imagen ----" />

        <button>Agregar</button>
    </form>
</body>
</html>
